<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Registro | Macedo & Azevedo</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<div class="register-page">
		<div class="form">
            <h1>Macedo & Azevedo</h1>
			<h2>Crie sua conta</h2>
			<p>Preencha o formulário abaixo para criar sua conta.</p>
            
			<form class="login-form">
				<input class="form-control" type="text" placeholder="Nome"/>
				<input class="form-control" type="text" placeholder="Email"/>
				<input class="form-control" type="text" placeholder="OAB"/>
				<input class="form-control" type="password" placeholder="Senha"/>
				<input class="form-control" type="password" placeholder="Confirmar senha"/>
				<input class="form-control" type="text" placeholder="Token Informado no Email"/>
				<button>Criar conta</button>
				<div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="message">Já tem uma conta? <a href="/index.html">Fazer Login</a></p>
                        </div>
                        <div class="col">
                            <p class="message"><a href="#">Esqueci minha senha</a></p>
                        </div>
                    </div>
                </div>
				
			</form>
		</div>
	</div>
	<div class="footer">
		<p>&copy; 2023 Macedo & Azevedo. Todos os direitos reservados.</p>
		<ul>
			<li><a href="#">Política de Privacidade</a></li>
			<li><a href="#">Termos de Uso</a></li>
			<li><a href="#">Suporte</a></li>
		</ul>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
