{% extends 'base/base.html' %}

{% load static %}
{% block title %}<h1 class="mont-serrat">Clientes</h1>{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Clientes</li>
{% endblock %}
{% block content %}
<div class="container col-md-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <span class="mont-serrat" style="font-size: 24px;">Criando novo cliente</span>
            </div>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" action="{% url 'client:client_create' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{form}}
                </div>
                <button type="submit" class="btn btn-lg btn-success">
                    Criar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}