<form enctype='multipart/form-data' class="form-horizontal" action="{% url 'lawyer:lawyer_edit' lawyer.pk %}" method="POST">
    {% csrf_token %}
    {% for field in lawyer_form %}
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
            <div class="text-danger">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
    {% if lawyer.image %}
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Foto atual</label>
        <div class="col-sm-10">
            <a href="{{lawyer.image.url}}" target="_blank">{{lawyer.image}}</a>
        </div>
    </div>
    {% endif %}
    <div class="form-group row">
        <div class="col-sm-4 col-form-label">
            <button type="submit" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#lawyer-delete-modal-{{lawyer.pk}}">Apagar</button>
        </div>
    </div>
</form>
{% include "lawyer_detail/lawyer_modals/lawyer_delete.html" %}