{% include "registry_detail/registry_modals/registry_contacts_create.html" %}
<div class="card" style="width: 100%">
    <div class="card-body table-responsive p-0">
        <div class="card-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Numero</th>
                        <th>Editar</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in registry.registry_contact.all %}
                    <tr>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phone_number}}</td>
                        <td>
                            <a href="" data-toggle="modal" data-target="#contacts-edit-modal-{{contact.pk}}">
                                <i class="fas fa-edit" style="color: #89a2cd;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="" data-toggle="modal" data-target="#contacts-delete-modal-{{contact.pk}}" >
                                <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                            </a>
                        </td>
                    </tr>
                    {% include "registry_detail/registry_modals/registry_contacts_delete.html" %}
                    {% include "registry_detail/registry_modals/registry_contacts_edit.html" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-success" data-toggle="modal" data-target="#registry-contacts-create">
        Criar novo contato de registro
    </button>
</div>
    