<div class="modal fade" id="registry-delete-modal-{{registry.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title" >
                    Você está apagando o registry <br>{{registry}}
                </h4>
            </div>
            <div class="modal-body">
                <span class="text">Cliente: {{ registry.name }}</span><br>
                {% if registry.cpf %}
                    <span class="text">CPF: {{ registry.cpf }} </span><br>
                {% endif %}
                {% if registry.cnpj %}
                    <span class="text">CNPJ: {{ registry.cpf }} </span><br>
                {% endif%}
                <span class="text">Estado Civil: {{ registry.civil_state }}</span><br>
                <span class="text">Profissão: {{ registry.profession }}</span><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Fechar
              </button>
              <form action="{% url 'registry:registry_delete' registry.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Apagar</button>
              </form>
            </div>
        </div>
    </div>
</div>