{% load static %}
<aside style="background: #18324d" class="main-sidebar main-sidebar-custom sidebar-dark-secondary elevation-4">
    <div class="sidebar">

        <div style="align-items: center; justify-content: center;" class="mt-3 pb-3 mb-3 d-flex">
            <img style="width: 150px; height: 150px; border-radius: 100px;" src="{% static 'dist/img/images/277606405_1177846459642535_7637691257266544301_n.jpg' %}" alt="">
        </div>

        <div class="user-panel mt-3 pb-3 mb-3 d-flex"></div>

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if request.user.lawyer_user.first.image %}
                <img src="{{request.user.lawyer_user.first.image.url}}" class="img-circle elevation-2" alt="User Image">
                {% else %}
                    <img src="{% static 'dist/img/images/unknown_user.jpg' %}" class="img-circle elevation-2" alt="User Image">
                {% endif %}
            </div>
            <div class="info">
                <a href="#" class="d-block"> Dr(a) {{ request.user.lawyer_user.first.nome }}</a>
            </div>
        </div>

        <nav class="mt-4">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'lawsuit:lawsuit_list' %}" class="nav-link sidebar-text">
                        <p>
                            <i class="fas fa-gavel" style="color: #ffffff;"></i>
                            &nbsp Processos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link sidebar-text">
                        <p>
                            <i class="fas fa-user-tie" style="color: #ffffff;"></i>
                            &nbsp Advogados
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'registry:registry_list' %}" class="nav-link">
                        <p>
                            <i class="fas fa-user" style="color: #ffffff;"></i>
                            &nbsp Cliente
                        </p>
                    </a>
                </li>
        </ul>
        
        </nav>
    </div>

    <div class="sidebar-custom" >
        <a href="#" style="margin-left: 40%; border-radius: 60px;" class="btn text-light"><i class="fas fa-cogs"></i></a>
    </div>

</aside>