{% extends 'base/base.html' %}

{% load static %}
{% block title %}<h1 class="mont-serrat">Advogado</h1>{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Advogado</li>
{% endblock %}
{% block content %}
<div class="container col-md-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <span class="mont-serrat" style="font-size: 24px;">Registrando novo advogado</span>
            </div>
        </div>
        <div class="card-body">
            <form enctype='multipart/form-data' action="{% url 'lawyer:lawyer_create' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="inputName" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{field}}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-lg btn-success">
                    Registrar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}