{% extends 'base/base.html' %}
{% block title %}<h1>Processos</h1>{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="{% url 'lawsuits:list' %}" >Processos</a></li>
    <li class="breadcrumb-item active">{{ lawsuit }}</li>
{% endblock %}
{% block content %}
<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active text-dark" id="home-tab" data-bs-toggle="tab" data-bs-target="#lawsuit" type="button" role="tab" aria-controls="lawsuit" aria-selected="true">
                    Processos
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark" id="profile-tab" data-bs-toggle="tab" data-bs-target="#lawsuit-cousts" type="button" role="tab" aria-controls="lawsuit-cousts" aria-selected="false">
                    Custas
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark" id="contact-tab" data-bs-toggle="tab" data-bs-target="#lawsuit-files" type="button" role="tab" aria-controls="lawsuit-files" aria-selected="false">
                    Arquivos
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="lawsuit" role="tabpanel" aria-labelledby="lawsuit-tab">

            </div>
            <div class="tab-pane fade" id="lawsuit-cousts" role="tabpanel" aria-labelledby="lawsuit-cousts-tab">

            </div>
            <div class="tab-pane fade" id="lawsuit-files" role="tabpanel" aria-labelledby="lawsuit-files-tab">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}