{% include "adverse_part_detail/adverse_part_modals/adverse_part_address_create.html" %}
<div class="card-body p-0">
    {% if adverse_part.adverse_part_address.first %}
    <table class="table">
        <thead>
            <tr>
                <th>Endereço</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>Cep</th>
                <th>Editar</th>
                <th>Apagar</th>
            </tr>
        </thead>
        {% for address in adverse_part.adverse_part_address.all %}
        <tbody>
            <tr>
                <td>{{address.endereco}}</td>
                <td>{{address.numero}}</td>
                <td>{{address.complemento}}</td>
                <td>{{address.cep}}</td>
                                <td>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#address-edit-modal-{{address.pk}}">
                        Editar
                    </button>
                </td>
                <td>
                    <a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#address-delete-modal-{{address.pk}}" >
                        Apagar
                    </a>
                </td>
            </tr>
            {% include "adverse_part_detail/adverse_part_modals/adverse_part_address_delete.html" %}
            {% include "adverse_part_detail/adverse_part_modals/adverse_part_address_edit.html" %}
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <div class="text text-muted" style="margin-left: 30%;">
        <h2><i class="fas fa-map-marker-alt"></i></i> Sem endereços da Parte Adversa por aqui</h2>
    </div>
    {% endif %}
    <div>
        <button class="btn btn-success" data-toggle="modal" data-target="#adverse-part-address-create">
            Criar novo endereço da Parte Adversa 
        </button>
    </div>
</div>
    