{% load static %}
<html lang="en">
<head>
    {% include "base/head.html" %}
    <meta charset="utf-8">
    <title>Login | Macedo & Azevedo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/login/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <img style="width: 100px; height: 100px; border-radius: 150px;" src="{% static 'dist/img/images/277606405_1177846459642535_7637691257266544301_n.jpg' %}" alt="">
    <br>
    <a href="https://www.macedoeazevedo.adv.br/"><b>Macedo & Azevedo</b></a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Olá, Dr(a). Faça seu login</p>
      <form class="login-form" action="{% url 'login' %}" method="POST" >
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Senha">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
          </div>
        </div>
      </div>
      <div class="container">
        {% include "messages/messages.html" %}
      </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
