<div class="modal fade" id="registry-delete-modal-{{registry.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title" >
                    Você está apagando o Registro <br>{{registry}}
                </h4>
            </div>
            <div class="modal-body">
                {% if registry.registry_cpf %}
                    {% if registry.registry_cpf.cpf %}
                    <span class="text-dark">
                        <b>CPF </b>
                        <span class="float-right">{{registry.registry_cpf.cpf}}</span>
                        <br>
                    </span>
                    {% endif %}
                    {% if registry.registry_cpf.profession %}
                    <span class="text-dark">
                        <b>Profissão </b> 
                        <span class="float-right">{{registry.registry_cpf.profession}}</span>
                        <br>
                    </span>
                    {% endif %}
                    {% if registry.registry_cpf.civil_state %}
                    <span class="text-dark">
                        <b>Estado Civil </b>
                        <span class="float-right">{{registry.registry_cpf.civil_state}}</span>
                        <br>
                    </span>
                    {% endif %}
                {% endif %}
                {% if registry.registry_cnpj %}
                    {% if registry.registry_cnpj.cnpj %}
                    <span class="text-dark">
                        <b>CNPJ</b>
                        <span class="float-right">{{registry.registry_cnpj}}</span>
                        <br>
                    </span>
                    {% endif %}
                    {% if registry.registry_cnpj.interprise_type %}
                    <span class="text-dark">
                        <b>Tipo da empresa</b>
                        <span class="float-right">{{registry.registry_cnpj.interprise_type}}</span>
                        <br>
                    </span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Fechar
              </button>
              <form action="{% url 'registry:registry_delete' registry.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Apagar</button>
              </form>
            </div>
        </div>
    </div>
</div>