{% extends 'base/base.html' %}

{% load static %}
{% block title %}<h1 class="mont-serrat">Parte Adversa - {{adverse_part}}</h1>{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Parte Adversa</li>
    <li class="breadcrumb-item active">{{adverse_part}}</li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    {% if adverse_part.image %}
                        <img src="{{ adverse_part.image.url }}" alt="user-avatar" style="width: 120px; height: 120px;" class="img-circle img-fluid">
                    {% else %}
                        <img src="{% static 'dist/img/images/unknown_user.jpg' %}" alt="user-avatar" style="width: 120px; height: 120px;" class="img-circle img-fluid">
                    {% endif %}   
                </div>
                <h3 class="profile-username text-center">{{adverse_part.nome}}</h3>
                <p class="text-muted text-center">{{adverse_part.profissao}}</p>
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Processos envolvidos</b><a class="float-right">{{lawsuits_envolved}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>CPF / CNPJ</b> {{adverse_part.cpf_cnpj}}
                    </li>
                    <li class="list-group-item">
                    <b>Chegou no escritorio </b>{{adverse_part.created_at}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#infos" data-toggle="tab">Editar</a></li>
                    <li class="nav-item"><a class="nav-link" href="#address" data-toggle="tab">Endereços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact_info" data-toggle="tab">Informações de contato</a></li>
                </ul>
            </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="infos">
                    {% include "adverse_part_detail/adverse_part_infos.html" %}
                </div>
                <div class="tab-pane" id="address">
                    {% include "adverse_part_detail/adverse_part_address.html" %}
                </div>
                <div class="tab-pane" id="contact_info">
                    {% include "adverse_part_detail/adverse_part_contacts.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
    
    </div>
{% endblock %}