<div class="modal fade" id="client-address-new" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Novo endereço de cliente
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        {% for field in client_address_form %}
                        <div class="form-group">
                            <label for="inputName" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div>
                                {{field}}
                            </div>
                        </div>
                        {% endfor %}
                            <div>
                                <button type="submit" class="btn btn-primary">Criar</button>
                                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>