<div class="modal fade" id="address-delete-modal-{{address.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title" >
                    Você está apagando o endereço <br>{{address}}
                </h4>
            </div>
            <div class="modal-body">
                <span class="text">Cliente: {{ address.adverse_part.nome }}</span><br>
                <span class="text">Endereço: {{address.endereco}} </span><br>
                <span class="text">Numero: {{address.numero}}</span><br>
                <span class="text">Complemento: {{address.complemento}}</span><br>
                <span class="text">Cep: {{address.cep}}</span><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Fechar
              </button>
              <form action="{% url 'adverse_part:adverse_part_address_delete' adverse_part.pk address.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Apagar</button>
              </form>
            </div>
        </div>
    </div>
</div>