{% load forms_tag %}
<div class="modal fade" id="contacts-edit-modal-{{contact.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header " >
                <h4 class="modal-title" >
                  Você está editando<br> {{contact}}
                </h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'adverse_part:adverse_part_contact_edit' adverse_part.pk contact.pk %}" method="POST">
                {% for field in adverse_part_contact_form|form_instanced:contact %}
                {% if field.label != "Parte adv" %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputName" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div>
                            {{field}}
                        </div>
                    </div>
                {% else %}
                    <input type="hidden" name="parte_adv" value="{{adverse_part.pk}}">
                {% endif %}
                {% endfor %}
                    <div>
                        <button type="submit" class="btn btn-primary">Editar</button>
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>