<div class="modal fade" id="adverse-part-delete-modal-{{adverse_part.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title" >
                    Você está apagando a Parte Adversa <br>{{adverse_part}}
                </h4>
            </div>
            <div class="modal-body">
                <span class="text">Cliente: {{ adverse_part.nome }}</span><br>
                <span class="text">CPF/CNPJ: {{ adverse_part.cpf_cnpj }} </span><br>
                <span class="text">Estado Civil: {{ adverse_part.estado_civil }}</span><br>
                <span class="text">Profissão: {{ address.complemento }}</span><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Fechar
              </button>
              <form action="{% url 'adverse_part:adverse_part_delete' adverse_part.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Apagar</button>
              </form>
            </div>
        </div>
    </div>
</div>