<html>
<head>
    <title>
        Inicial
    </title>
</head>

<body>
    <h1>
        Endpoints
    </h1>
    <h1>
        Processo
    </h1>
        <div style="margin-left: 50px">
        <div>
            <h2>
                Processo
            </h2>
            <ul>

                <p>
                    Retorno da API - 200 - Sucesso<br>
                    Retorno da API - 401 - Unauthorized <br>
                    {<br>
                        "detail": "As credenciais de autenticação não foram fornecidas."<br>
                    }<br>
                    Retorno da API - 400 - Erro no enviou - Bad Request
                </p>
                <li>
                    GET - LIST - api/v1/processo/ <br>
                </li>
                <li>
                    GET - DETAIL - api/v1/processo/{id} <br>
                    GET - Finalizar Processo - api/v1/processo/{id}
                    <p>
                        {<br>
                            "id": int-id,<br>
                            "advogado": "string",<br>
                            "cliente_de_dr": "string",<br>
                            "nome_cliente": "string",<br>
                            "nome_parte": "string",<br>
                            "advogado_colaborador": "string" ou null,<br>
                            "codigo_processo": "string",<br>
                            "posicao": "string",<br>
                            "assunto": "string",<br>
                            "observacoes": "string,<br>
                            "municipio": "string",<br>
                            "estado": "string",<br>
                            "n_vara": "string",<br>
                            "vara": "string",<br>
                            "iniciado": "string",<br>
                            "finalizado": null,<br>
                            "honorarios": float,<br>
                            "honorarios_registrados": [],<br>
                            "anexos_registrados": []<br>
                        }
                    </p>
                </li>
                <li>
                    POST - api/v1/processo/<br>
                    <p>
                    {<br>
                        "codigo_processo": "string",<br>
                        "advogado_responsavel": int-id,<br>
                        "cliente_de": int-id,<br>
                        "cliente": int-id,<br>
                        "parte_adversa": int-id,<br>
                        "colaborador": int-id,<br>
                        "posicao": "string",<br>
                        "assunto": "string",<br>
                        "observacoes": "string",<br>
                        "municipio": "string",<br>
                        "estado": "string",<br>
                        "n_vara": "string",<br>
                        "vara": "string"<br>
                    }
                    </p>

                </li>
                <li>
                    PUT - api/v1/processo/{id}<br>
                </li>
                <li>
                    PATCH - api/v1/processo/{id}<br>
                </li>
                <li>
                    DELETE - api/v1/processo/{id}
                </li>
            </ul>
        </div>
        <div>
            <h2>
                Processo Honorarios
            </h2>
            <ul>
                <li>
                    GET - LIST - api/v1/processo/{id}/honorario
                </li>
                <li>
                    GET - DETAIL - api/v1/processo/{id}/honorario/{id}<br>
                    {<br>
                        "id": int-id,<br>
                        "referente": "string",<br>
                        "valor": float,<br>
                        "processo": int-id,<br>
                        "responsavel": int-id<br>
                    }
                </li>
                <li>
                    POST - api/v1/processo/{id}/honorario<br>
                    {<br>
                    "referente":"string",<br>
                    "valor": float,<br>
                    "processo": int-id,<br>
                    "responsavel": int-id<br>
                    }
                </li>
                <li>
                    PATCH - api/v1/processo/{id}/honorario/{id}
                </li>
                <li>
                    PUT - api/v1/processo/{id}/honorario/{id}
                </li>
                <li>
                    DELETE - api/v1/processo/{id}/honorario/{id}
                </li>
            </ul>
        </div>
        <div>
            <h2>
                Processo Anexos
            </h2>
            <ul>
                <li>
                    GET - LIST - api/v1/processo/{id}/anexo
                </li>
                <li>
                    GET - DETAIL - api/v1/processo/{id}/anexo/{id}<br>
                    {<br>
                    "id": int-id,<br>
                    "nome_do_anexo": "string",<br>
                    "arquivo": "string-url",<br>
                    "created_at": "string-date",<br>
                    "processo": int-id<br>
                    }<br>
                </li>
                <li>
                    GET - DETAIL - api/v1/processo/{id}/anexo/{id}<br>
                    {<br>
                    "id": int-id,<br>
                    "nome_do_anexo": "string",<br>
                    "arquivo": "string-url",<br>
                    "processo": int-id<br>
                    }<br>
                </li>
                <li>
                    PATCH - api/v1/processo/{id}/anexo/{id}
                </li>
                <li>
                    PUT - api/v1/processo/{id}/anexo/{id}
                </li>
                <li>
                    DELETE - api/v1/processo/{id}/anexo/{id}
                </li>
            </ul>
        </div>

    </div>
</body>

</html>