{% extends 'base/base.html' %}
{% load static %}
{% block title %}<h1 class="mont-serrat">Processos</h1>{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Processos</li>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card">
        <form action="{% url 'lawsuit:list' %}" method="get">
            <div class="card-header">
                <div class="input-group">
                    <input type="search" class="form-control form-control-lg" name="q" placeholder="Pesquisar processos">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th>Advogados</th>
                        <th></th>
                        <th>Codigo do Processo</th>
                        <th>Cliente</th>
                        <th>Parte Adversa</th>
                        <th>Iniciado</th>
                        <th>Finalizado</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for lawsuit in page.object_list %}
                    <tr>
                        
                        <td style="width: 2px;">
                            {% if lawsuit.advogado_responsavel.image %}
                            <img src="{{ lawsuit.advogado_responsavel.image.url }}" alt="user-avatar" style="width: 28px; height: 28px;" class="img-circle img-fluid">
                                {% if lawsuit.colaborador %}
                                    <img src="{{ lawsuit.colaborador.image.url }}" alt="user-avatar" style="width: 28px; height: 28px;" class="img-circle img-fluid">
                                {% endif %}
                            {% else %}
                                <img src="{% static 'dist/img/images/unknown_user.jpg' %}" alt="user-avatar" style="width: 28px; height: 28px;" class="img-circle img-fluid">
                            {% endif %}
                        </td>
                        <td>{{lawsuit.advogado_responsavel}} </td>
                        <td><a href="{% url 'lawsuit:detail' lawsuit.pk %}">{{ lawsuit.codigo_processo }}</a></td>
                        <td>{{ lawsuit.cliente }}</td>
                        <td>{{ lawsuit.parte_adversa }}</td>
                        <td>{{ lawsuit.iniciado }}</td>
                        <td>{%if lawsuit.finalizado%} {{ lawsuit.finalizado }} {% else %} Em andamento {%endif%} </td>
                        <td><a href="{% url 'lawsuit:detail' lawsuit.pk %}"><i class="fas fa-trash-alt" style="color: #ff0000;"></i></a></td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="card-footer clearfix">
                {% include "base/pagination.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}